@charset "UTF-8";

body{
    background-color: rgb(231, 204, 163);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(114, 95, 65);

}

#principal{
text-align: center;
background-color: rgb(114, 95, 65);
color: aliceblue;

}

h2{
    color: rgb(170, 122, 44);

}

.basico{
color: rgb(38, 165, 38);
}

.intermediario{
color: rgb(165, 165, 7);
}

.avancado{
color: rgb(194, 24, 24);
}